<app-capa></app-capa>
<div class="filme-container">
    <h3 class="lista-titulo">Lançamentos</h3>
    <div class="lista-filme">
        <a href="#" class="filme">
            <img src="../../assets/images/bad-boys-para-sempre.jpg" alt="">
        </a>
        <a href="#" class="filme">
            <img src="../../assets/images/capita-marvel.jpg" alt="">
        </a>
        <a href="#" class="filme">
            <img src="../../assets/images/jiu-jitsu.jpg" alt="">
        </a>
        <a href="#" class="filme">
            <img src="../../assets/images/john-wick.jpg" alt="">
        </a>
        <a href="#" class="filme">
            <img src="../../assets/images/jumanji.jpg" alt="">
        </a>            
        <a href="#" class="filme">
            <img src="../../assets/images/monster-hanter.jpg" alt="">
        </a>    
        <a href="#" class="filme">
            <img src="../../assets/images/mulher-maravilha.jpg" alt="">
        </a>
        <a href="#" class="filme">
            <img src="../../assets/images/godzila-II.jpg" alt="">
        </a>                        
    </div>
    
    <h3 class="lista-titulo">Mais vistos</h3>
    <div class="lista-filme">
        <a href="#" class="filme">
            <img src="../../assets/images/bad-boys-para-sempre.jpg" alt="">
        </a>
        <a href="#" class="filme">
            <img src="../../assets/images/capita-marvel.jpg" alt="">
        </a>
        <a href="#" class="filme">
            <img src="../../assets/images/jiu-jitsu.jpg" alt="">
        </a>
        <a href="#" class="filme">
            <img src="../../assets/images/john-wick.jpg" alt="">
        </a>
        <a href="#" class="filme">
            <img src="../../assets/images/jumanji.jpg" alt="">
        </a>            
        <a href="#" class="filme">
            <img src="../../assets/images/monster-hanter.jpg" alt="">
        </a>    
        <a href="#" class="filme">
            <img src="../../assets/images/mulher-maravilha.jpg" alt="">
        </a>
        <a href="#" class="filme">
            <img src="../../assets/images/bad-boys-para-sempre.jpg" alt="">
        </a>                        
    </div>
</div>