.lista-titulo{
    font-size: 22px;
    font-weight: 700;
    color: #f1f1f1;
}
.filme img {
    width: 173px;
    height: 264px;
    margin: 20px 3px;
}

.lista-filme {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.lista-filme:hover {
    overflow-x: scroll;
}

.filme-container {
    padding: 20px;
}