<div class="filme-principal">
    <div class="container">
        <h3 class="titulo">Flash (2014)</h3>
        <p class="descricao">Barry enfrenta diversos assassinos que invadem a premiação onde ele acompanha Iris, mas os efeitos colaterais de seus novos superpoderes representam uma ameaça.</p>
        <div class="botoes">
            <button class="botao-capa"><i class="fa fa-play"></i> Assistir Agora</button>
            <button class="botao-capa"><i class="fa fa-info-circle"></i> Mais informações</button>
        </div>
    </div>
</div>